body{
    color: rgb(62, 71, 255);
    background: rgb(125, 229, 255);
}
.heading{
    width: 80%;
    font-size: 24px;
}
.name_of_emotion,#result_emotion_name,#result_emotion_accuracy{
color:rgb(201, 255, 251);
}
#camera{
    border: 2px dashed rgb(0, 0, 0); 
    width: 350px;
    height: 300px;
}